<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/contact.css" />
  </head>
  <body>
    <section>
      <div class="image">
        <img src="/img/iit.png" />
      </div>

      <div class="content">
        <h2>About Us</h2>
        <span><!-- line here --></span>
        <p>
          This was created as group project during the summer of 2022. This was
          made by IIT-Guwahati student. Our names are:
        </p>
        <ul class="links">
          <li><a href="#">RKS Mehul - 190102060</a></li>
          <div class="vertical-line"></div>
          <li><a href="#">Sagar Yadav - 190102063</a></li>
          <div class="vertical-line"></div>
          <li><a href="#">Rambhad Himanshu Narendra - 190102061</a></li>
        </ul>
        <ul class="icons">
          <li>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <i class="fa fa-facebook"></i>
          </li>
          <li>
            <i class="fa fa-github"></i>
          </li>
          <li>
            <i class="fa fa-pinterest"></i>
          </li>
        </ul>
      </div>
    </section>
    <br /><br />
    <div class="credit">
      <a href="/">Go Back To Home</a>
    </div>
  </body>
</html>
