<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script
      src="https://kit.fontawesome.com/c4fae93b1a.js"
      crossorigin="anonymous"
    ></script>
    <title>Meet</title>
    <link rel="stylesheet" type="text/css" href="/css/inMeet.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-1">
          <div hidden id="myboard">
            <canvas id="canvas"></canvas>
          </div>
          <div id="video-grid" class="joined"></div>
        </div>
        <div class="col-2">
          <div id="video-grid-2" class="joined"></div>
          <div id="mychat">
            <h2>Chat Box</h2>
            <div id="chat-window">
              <div id="output"></div>
            </div>
            <h3 id="handle"></h3>
            <input id="message" type="text" placeholder="Message" />
            <button id="send">Send</button>
          </div>
        </div>
      </div>
      <div class="controls-container">
        <div class="codeText">
          <span>Room ID:</span>
          <div class="innerCode"><%= roomId %></div>
        </div>
        <div class="controls">
          <button onclick="toggleChat()">
            <i class="uil uil-comment-alt-message chat-icon"></i>
          </button>
          <button onclick="disconnectCall()">
            <i class="uil uil-phone-slash call-icon"></i>
          </button>
          <button hidden onclick="toggleCamera()">
            <i class="uil uil-video camera-icon"></i>
          </button>
          <button onclick="toggleBoard()">
            <i class="uil uil-presentation-line board-icon"></i>
          </button>
        </div>
      </div>
    </div>

    <script>
      const user = "<%= user.name %>";
      //console.log(user);
    </script>
    <script src="/js/inMeet.js" defer></script>
    <script
      src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"
    ></script>
  </body>
</html>
